{{/* Used for the Client&Works section in the homepage */}}
{{/* If some content is missing/not displayed, check the images for the client/work */}}

{{ if .Site.Data.homepage.client_and_work.enable }}
<section id="portfolio" class="section section--border-bottom">
  <div class="container client-works-container">
    <h2 class="rad-animation-group rad-fade-down">
      {{ i18n "client_work_title" }}
    </h2>
    <div class="row row--padded rad-animation-group rad-fade-down">
      <div class="col-12">
        <div class="clients">
          {{ $baseLangSite := .Sites.Default }}
          {{ $clients := (where .Site.RegularPages.ByDate.Reverse "Type" "client-work" | lang.Merge (where $baseLangSite.RegularPages.ByDate.Reverse "Type" "client-work") ) }}          
          {{ range $clients }}
          <div class="clients__item">
            <a href="{{ .Params.link }}" aria-label="Link to the client site for {{ .Params.title }} (opens in a new window)" target="_blank">
              
              {{ $img := .Params.logo.x }}
              {{ $img2x := .Params.logo._2x }}

              {{ if or (hasSuffix $img ".gif") (hasSuffix $img2x ".gif") }}
                <img class="portfolio-project img-responsive"
                     src="{{ $img | absURL }}"
                     alt="{{ .Params.title }}">
              {{ else }}
                {{ $imgRes := resources.Get $img }}
                {{ $img2xRes := resources.Get $img2x }}
                {{ with $imgRes }}
                {{ with $img2xRes }}
                  
                  {{ $imgWebp := $imgRes.Resize (printf "%dx%d webp q75 Lanczos picture" $imgRes.Width $imgRes.Height) }}
                  {{ $img2xWebp := $img2xRes.Resize (printf "%dx%d webp q75 Lanczos picture" $img2xRes.Width $img2xRes.Height) }}

                  <picture class="picture clients">
                    <source srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $img2xWebp.RelPermalink }} 2x" type="image/webp" />
                    <source srcset="{{ $imgRes.RelPermalink }} 1x, {{ $img2xRes.RelPermalink }} 2x">
                    <img class="portfolio-project img-responsive"
                         src="{{ $imgRes.RelPermalink }}"
                         srcset="{{ $imgRes.RelPermalink }} 1x, {{ $img2xRes.RelPermalink }} 2x"
                         alt="{{ .Params.title }}">
                  </picture>

                {{ end }}
                {{ end }}
              {{ end }}

            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>

    {{/* Projects */}}
    {{ $projects := (where .Site.RegularPages.ByDate.Reverse "Type" "projects") }}          
    {{ range $index, $element := $projects }}
    {{ $is_even := eq (mod $index 2) 0 }}
    {{ with $element }}
    <div
      class="row row--padded rad-animation-group rad-fade-down 
      {{ if $is_even }}flex-column-reverse flex-md-row even-row{{ else }}uneven-row{{ end }}"
    >
      {{ if $is_even }}
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto even">
        <h3>{{ .Params.title }}</h3>
        <p class="lead">
          {{ .Page.Content }}
        </p>
        <a href="{{ .Params.button.URL | absURL }}" class="btn btn-primary"
          >{{ .Params.button.btnText }}<i class="{{ .Params.button.icon }}"></i
        ></a>
      </div>
      <div class="col-12 col-md-7 pl-md-0 text-right">

        {{ $img := .Params.image.x }}
        {{ $img2x := .Params.image._2x }}

        {{ if or (hasSuffix $img ".gif") (hasSuffix $img2x ".gif") }}
          <img class="lozad img-responsive"
               src="{{ $img | absURL }}"
               alt="{{ .Params.title }}">
        {{ else }}
          {{ $imgRes := resources.Get $img }}
          {{ $img2xRes := resources.Get $img2x }}
          {{ with $imgRes }}
          {{ with $img2xRes }}
            {{ $imgWebp := $imgRes.Resize (printf "%dx%d webp q75 Lanczos picture" $imgRes.Width $imgRes.Height) }}
            {{ $img2xWebp := $img2xRes.Resize (printf "%dx%d webp q75 Lanczos picture" $img2xRes.Width $img2xRes.Height) }}
            <picture class="picture-works even">
              <source srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $img2xWebp.RelPermalink }} 2x" type="image/webp" />
              <source srcset="{{ $imgRes.RelPermalink }} 1x, {{ $img2xRes.RelPermalink }} 2x">
              <img class="lozad img-responsive"
                   src="{{ $imgRes.RelPermalink }}"
                   srcset="{{ $imgRes.RelPermalink }} 1x, {{ $img2xRes.RelPermalink }} 2x"
                   alt="{{ .Params.title }}">
            </picture>
          {{ end }}
          {{ end }}
        {{ end }}

      </div>
      {{ else }}
      <div class="col-12 col-md-7 pl-md-0 text-right not-even">
        
        {{ $img := .Params.image.x }}
        {{ $img2x := .Params.image._2x }}

        {{ if or (hasSuffix $img ".gif") (hasSuffix $img2x ".gif") }}
          <img class="lozad img-responsive"
               src="{{ $img | absURL }}"
               alt="{{ .Params.title }}">
        {{ else }}
          {{ $imgRes := resources.Get $img }}
          {{ $img2xRes := resources.Get $img2x }}
          {{ with $imgRes }}
          {{ with $img2xRes }}
            {{ $imgWebp := $imgRes.Resize (printf "%dx%d webp q75 Lanczos picture" $imgRes.Width $imgRes.Height) }}
            {{ $img2xWebp := $img2xRes.Resize (printf "%dx%d webp q75 Lanczos picture" $img2xRes.Width $img2xRes.Height) }}
            <picture class="picture-works odd">
              <source srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $img2xWebp.RelPermalink }} 2x" type="image/webp" />
              <source srcset="{{ $imgRes.RelPermalink }} 1x, {{ $img2xRes.RelPermalink }} 2x">
              <img class="lozad img-responsive"
                   src="{{ $imgRes.RelPermalink }}"
                   srcset="{{ $imgRes.RelPermalink }} 1x, {{ $img2xRes.RelPermalink }} 2x"
                   alt="{{ .Params.title }}">
            </picture>
          {{ end }}
          {{ end }}
        {{ end }}
        
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <h3>{{ .Params.title }}</h3>
        <p class="lead">
          {{ .Page.Content }}
        </p>
        <a href="{{ .Params.button.URL | absURL }}" class="btn btn-primary"
          >{{ .Params.button.btnText }}<i class="{{ .Params.button.icon }}"></i
        ></a>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}